@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app-container {
    margin: 100px;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}

.one,
.two,
.three,
.four,
.five,
.six {
    font-size: 30px;
    padding-top: 7px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.one {
    background-color: #390099;
    grid-column-start: 1;
    grid-column-end: 4;
}

.two {
    background-color: #9E0059;
    grid-row-start: 2;
    grid-row-end: 4;
}

.three {
    background-color: #FF0054;
    grid-column-start: 2;
    grid-column-end: 4;
}

.four {
    background-color: #FF5400;
    grid-column-start: 2;
    grid-column-end: 3;
}

.five {
    background-color: #FFBD00;
    grid-column-start: 3;
    grid-column-end: 4;
}

.six {
    background-color: #84732B;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* .seven {
    background-color: #19b6a3;
}

.eight {
    background-color: #ac26ff;
}

.nine {
    background-color: #fa4477;
} */